
  #jb-container {
       width: 940px;
       margin: 10px auto;
       padding: 20px;
       border: 1px solid #bcbcbc;
}

   #jb-header {
            padding: 20px;
            margin-bottom: 0px;
            border-BOTTOM: 1px solid #bcbcbc;
}

   #jb-content {
        padding-left: 20px;
        margin-bottom: 20px;
      }

    #jb-sidebar {
        display: grid;
        grid-template-columns:170px 1fr
      }

      #jb-footer {
            clear: both;
            padding: 20px;
            border: 1px solid #bcbcbc;
          }

  h1{
    text-align:center;
    margin:0px;
  }
  h2{
    margin-top:20px;
  }
  a {
    color:black;
    text-decoration: none;
  }
  ul{
    padding-left: 50px;
    border-right: 1px solid #bcbcbc;
    padding-top: 20px;
    margin-top: 0px;
  }
  @media(max-width:1000px){
  #jb-sidebar{
        display: block;
           }

  #jb-header {
        border-BOTTOM: none;
    }
  ul{
    border-right: none;
    margin-left: 20px;
    padding-left: 20px;
  }
